<% include ../shared/header.ejs %>

<script>
    let option = document.getElementById('race').options;
    let select = document.getElementById('race');
</script>


<h1><%= title %></h1>

<form method="POST" id="edit">
    <fieldset class="form-group">
        <label for="name" class="control-label col-md-2">Name:</label>
        <input type="text" id="name" name="name" required value="<%= character.name %>">
    </fieldset>
    <fieldset class="form-group">
            <label for="race" class="control-label col-md-2">Race:</label>
            <select class="col-md-2" id="race" name="race" required></select>
            <option value=""></option>
            <% for(let i = 0; i < race.length; i++) { %>
                <% if(character.race == document.getElementById('race').options[i].value) { %>
                    <% document.getElementById('race').selectedIndex = i %>
                    <option value="<%= race[i].name %>"><%= race[i].name %></option>
                    <!-- <option value="Angel">Angel</option>
                    <option value="Fallen">Fallen</option>
                    <option value="Guardian">Guardian</option>
                    <option value="Human">Human</option>
                    <option value="Istinal">Istinal</option>
                    <option value="Kindred">Kindred</option>
                    <option value="Kusari">Kusari</option>
                    <option value="Oni">Oni</option>
                    <option value="Warden">Warden</option> -->
            <% } %>
            <% } %>
        </select>
    </fieldset>
    <fieldset class="form-group">
        <label for="gender" class="control-label col-md-2">Gender:</label>
        <fieldset class="form-check" style="display: inline;">
            <input class="form-check-input" type="radio" name="gender" id="male" value="Male" required>
            <label class="form-check-label" for="male">Male</label>
        </fieldset>
        <fieldset class="form-check" style="display: inline;">
            <input class="form-check-input" type="radio" name="gender" id="female" value="Female" required>
            <label class="form-check-label" for="female">Female</label>
        </fieldset>
        <fieldset class="form-check" style="display: inline;">
            <input class="form-check-input" type="radio" name="gender" id="other" value="Other" required>
            <label class="form-check-label" for="other">Other</label>
        </fieldset>
    </fieldset>
    <!-- <fieldset class="form-group">
        <label for="race" class="control-label col-md-2">Race:</label>
        <input type="text" id="race" name="race" required value="<%= character.race %>">
    </fieldset>
    <fieldset class="form-group">
        <label for="gender" class="control-label col-md-2">Gender:</label>
        <input type="text" id="gender" name="gender" required value="<%= character.gender %>">
    </fieldset> -->
    <fieldset class="form-group">
        <label for="element" class="control-label col-md-2">Magic Element:</label>
        <input type="text" id="element" name="element" required value="<%= character.element %>">
    </fieldset>
    <fieldset class="form-group">
        <label for="summary" class="control-label col-md-2">Summary:</label>
        <textarea type="text" cols="100" rows="4" id="summary" name="summary"><%= character.summary %></textarea>
    </fieldset>
    <button class="offset-2 btn btn-primary">Submit</button>
</form>

<% include ../shared/footer.ejs %>